In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("ex_10").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/26 11:52:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
sc = spark.sparkContext
sc

In [10]:
D1 = spark.read.csv('DataSets/ex_1.csv',header=True,sep='|')
D1.show(truncate=False)

+-----+---+--------+
|Name |Age|Couses  |
+-----+---+--------+
|Nikhi|25 |C1,C2,C3|
|Raaki|24 |C1      |
|Kaaki|28 |null    |
|Jaaki|22 |C1,C2   |
|Maaki|20 |null    |
+-----+---+--------+

In [4]:
from pyspark.sql.functions import split, explode,explode_outer,posexplode, posexplode_outer

In [5]:
D2 = D1.withColumn("N_",explode(split('Couses',',')))
D2.show()

+-----+---+--------+---+
| Name|Age|  Couses| N_|
+-----+---+--------+---+
|Nikhi| 25|C1,C2,C3| C1|
|Nikhi| 25|C1,C2,C3| C2|
|Nikhi| 25|C1,C2,C3| C3|
|Raaki| 24|      C1| C1|
|Jaaki| 22|   C1,C2| C1|
|Jaaki| 22|   C1,C2| C2|
+-----+---+--------+---+

In [6]:
D2 = D1.withColumn("N",explode_outer(split('Couses',',')))
D2.show()

+-----+---+--------+----+
| Name|Age|  Couses|   N|
+-----+---+--------+----+
|Nikhi| 25|C1,C2,C3|  C1|
|Nikhi| 25|C1,C2,C3|  C2|
|Nikhi| 25|C1,C2,C3|  C3|
|Raaki| 24|      C1|  C1|
|Kaaki| 28|    null|null|
|Jaaki| 22|   C1,C2|  C1|
|Jaaki| 22|   C1,C2|  C2|
|Maaki| 20|    null|null|
+-----+---+--------+----+

In [ ]:
explode: It doesnot display null values

explode_outer: It displayes null values also

posexplode:
It gives position and value for not all


posexplode_outer:
It gives position and value for all including null values also

In [7]:
D2 = D1.select("*",posexplode(split('Couses',','))).withColumnRenamed("col","Course")
D2.show()

+-----+---+--------+---+------+
| Name|Age|  Couses|pos|Course|
+-----+---+--------+---+------+
|Nikhi| 25|C1,C2,C3|  0|    C1|
|Nikhi| 25|C1,C2,C3|  1|    C2|
|Nikhi| 25|C1,C2,C3|  2|    C3|
|Raaki| 24|      C1|  0|    C1|
|Jaaki| 22|   C1,C2|  0|    C1|
|Jaaki| 22|   C1,C2|  1|    C2|
+-----+---+--------+---+------+

In [8]:
D2 = D1.select("*",posexplode_outer(split('Couses',','))).withColumnRenamed("col","Course")
D2.show()

+-----+---+--------+----+------+
| Name|Age|  Couses| pos|Course|
+-----+---+--------+----+------+
|Nikhi| 25|C1,C2,C3|   0|    C1|
|Nikhi| 25|C1,C2,C3|   1|    C2|
|Nikhi| 25|C1,C2,C3|   2|    C3|
|Raaki| 24|      C1|   0|    C1|
|Kaaki| 28|    null|null|  null|
|Jaaki| 22|   C1,C2|   0|    C1|
|Jaaki| 22|   C1,C2|   1|    C2|
|Maaki| 20|    null|null|  null|
+-----+---+--------+----+------+