In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("pivot_ex_1").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/25 22:15:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
df1 = spark.read.csv('DataSets/piv_ex1.csv', header=True,inferSchema=True)
df1.show()

+---+-------+-----+
| Id|    Sub|Marks|
+---+-------+-----+
|  1|English|   95|
|  1|  Maths|  100|
|  1|Physics|   98|
|  2|English|   88|
|  2|  Maths|   90|
|  2|Physics|   92|
|  3|English|   85|
|  3|  Maths|   89|
|  3|Physics|   78|
+---+-------+-----+

In [16]:
df1.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Sub: string (nullable = true)
 |-- Marks: integer (nullable = true)

In [13]:
df1.groupBy("Id").sum('Marks').show()

+---+----------+
| Id|sum(Marks)|
+---+----------+
|  1|       293|
|  3|       252|
|  2|       270|
+---+----------+

In [24]:
from pyspark.sql.functions import col

In [25]:
df2 = df1.groupBy("Id").pivot('Sub').sum('Marks')
df2 = df2.withColumn('Total',col('English')+col('Maths')+col('Physics'))
df2.show()

+---+-------+-----+-------+-----+
| Id|English|Maths|Physics|Total|
+---+-------+-----+-------+-----+
|  1|     95|  100|     98|  293|
|  3|     85|   89|     78|  252|
|  2|     88|   90|     92|  270|
+---+-------+-----+-------+-----+