 ## Merge DataFrame in Spark

#### First Way
By adding extra column with null values withColumn, lit

In [19]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("two").getOrCreate()

In [20]:
df1 = spark.read.csv('DataSets/file1.csv',header=True,sep='|')
df1.show()

+-----------------+---+
|             Name|Age|
+-----------------+---+
|Nikhil,Pidiparthy| 26|
|      Akhil,Peddi| 31|
|         Sony,Bil| 35|
|         Demo,Raj| 21|
|      Nibba,Nibbi| 16|
+-----------------+---+

In [21]:
spark.read.csv?

Signature:
spark.read.csv(
    path,
    schema=None,
    sep=None,
    encoding=None,
    quote=None,
    escape=None,
    comment=None,
    header=None,
    inferSchema=None,
    ignoreLeadingWhiteSpace=None,
    ignoreTrailingWhiteSpace=None,
    nullValue=None,
    nanValue=None,
    positiveInf=None,
    negativeInf=None,
    dateFormat=None,
    timestampFormat=None,
    maxColumns=None,
    maxCharsPerColumn=None,
    maxMalformedLogPerPartition=None,
    mode=None,
    columnNameOfCorruptRecord=None,
    multiLine=None,
    charToEscapeQuoteEscaping=None,
    samplingRatio=None,
    enforceSchema=None,
    emptyValue=None,
    locale=None,
    lineSep=None,
    pathGlobFilter=None,
    recursiveFileLookup=None,
    modifiedBefore=None,
    modifiedAfter=None,
    unescapedQuoteHandling=None,
)
Docstring:
Loads a CSV file and returns the result as a  :class:`DataFrame`.

This function will go through the input once to determine the input schema if
``inferSchema`` is enabled. To avoid going through the entire data once, disable
``inferSchema`` option or specify the schema explicitly using ``schema``.

.. versionadded:: 2.0.0

Parameters
----------
path : str or list
    string, or list of strings, for input path(s),
    or RDD of Strings storing CSV rows.
schema : :class:`pyspark.sql.types.StructType` or str, optional
    an optional :class:`pyspark.sql.types.StructType` for the input schema
    or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).

Other Parameters
----------------
Extra options
    For the extra options, refer to
    `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
    in the version you use.

    .. # noqa

Examples
--------
>>> df = spark.read.csv('python/test_support/sql/ages.csv')
>>> df.dtypes
[('_c0', 'string'), ('_c1', 'string')]
>>> rdd = sc.textFile('python/test_support/sql/ages.csv')
>>> df2 = spark.read.csv(rdd)
>>> df2.dtypes
[('_c0', 'string'), ('_c1', 'string')]
File:      /usr/local/lib/python3.8/dist-packages/pyspark/sql/readwriter.py
Type:      method

In [22]:
df2 = spark.read.csv('DataSets/file2.csv',header=True,sep='|')
df2.show()

+-----------+---+------+
|       Name|Age|Gender|
+-----------+---+------+
|Tamar,Reddy| 26|  Male|
| Roti,Pedda| 11|Female|
|  Billa,Pow| 35|  Male|
|  Kiddy,Bid| 21|  Male|
|Vaddi,Naddi| 16|Female|
+-----------+---+------+

In [23]:
df1.union(df2)

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 2 columns and the second table has 3 columns;
'Union false, false
:- Relation [Name#223,Age#224] csv
+- Relation [Name#254,Age#255,Gender#256] csv

In [24]:
from pyspark.sql.functions import lit

df_1 = df1.withColumn('Gender',lit(None))
df_1.show()

+-----------------+---+------+
|             Name|Age|Gender|
+-----------------+---+------+
|Nikhil,Pidiparthy| 26|  null|
|      Akhil,Peddi| 31|  null|
|         Sony,Bil| 35|  null|
|         Demo,Raj| 21|  null|
|      Nibba,Nibbi| 16|  null|
+-----------------+---+------+

In [25]:
df_1.union(df2).show()

+-----------------+---+------+
|             Name|Age|Gender|
+-----------------+---+------+
|Nikhil,Pidiparthy| 26|  null|
|      Akhil,Peddi| 31|  null|
|         Sony,Bil| 35|  null|
|         Demo,Raj| 21|  null|
|      Nibba,Nibbi| 16|  null|
|      Tamar,Reddy| 26|  Male|
|       Roti,Pedda| 11|Female|
|        Billa,Pow| 35|  Male|
|        Kiddy,Bid| 21|  Male|
|      Vaddi,Naddi| 16|Female|
+-----------------+---+------+

### Second way
Applying own schema

In [26]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

schema = StructType (
[
StructField('Name',StringType(),True),
StructField('Age',IntegerType(),True),
StructField('Gender',StringType(),True)
]
)

df3 = spark.read.csv('DataSets/file1.csv',sep ='|',header = True, schema=schema)
df3.show()

+-----------------+---+------+
|             Name|Age|Gender|
+-----------------+---+------+
|Nikhil,Pidiparthy| 26|  null|
|      Akhil,Peddi| 31|  null|
|         Sony,Bil| 35|  null|
|         Demo,Raj| 21|  null|
|      Nibba,Nibbi| 16|  null|
+-----------------+---+------+

23/02/23 10:33:40 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 2, schema size: 3
CSV file: file:///config/workspace/PySpark%20Interview%20Questions/file1.csv

In [27]:
df4 = spark.read.csv('DataSets/file2.csv',sep ='|',header = True, schema=schema)
df4.show()

+-----------+---+------+
|       Name|Age|Gender|
+-----------+---+------+
|Tamar,Reddy| 26|  Male|
| Roti,Pedda| 11|Female|
|  Billa,Pow| 35|  Male|
|  Kiddy,Bid| 21|  Male|
|Vaddi,Naddi| 16|Female|
+-----------+---+------+

In [28]:
df3.union(df4).show()

+-----------------+---+------+
|             Name|Age|Gender|
+-----------------+---+------+
|Nikhil,Pidiparthy| 26|  null|
|      Akhil,Peddi| 31|  null|
|         Sony,Bil| 35|  null|
|         Demo,Raj| 21|  null|
|      Nibba,Nibbi| 16|  null|
|      Tamar,Reddy| 26|  Male|
|       Roti,Pedda| 11|Female|
|        Billa,Pow| 35|  Male|
|        Kiddy,Bid| 21|  Male|
|      Vaddi,Naddi| 16|Female|
+-----------------+---+------+

23/02/23 10:33:48 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 2, schema size: 3
CSV file: file:///config/workspace/PySpark%20Interview%20Questions/file1.csv

### Thrid Way

with Outer Join

In [30]:
df5 = spark.read.csv('DataSets/file1.csv',header=True,sep='|')

df6 = spark.read.csv('DataSets/file2.csv',header=True,sep='|')

In [ ]:
df5.show()

+-----------------+---+
|             Name|Age|
+-----------------+---+
|Nikhil,Pidiparthy| 26|
|      Akhil,Peddi| 31|
|         Sony,Bil| 35|
|         Demo,Raj| 21|
|      Nibba,Nibbi| 16|
+-----------------+---+

In [ ]:
df6.show()

+-----------+---+------+
|       Name|Age|Gender|
+-----------+---+------+
|Tamar,Reddy| 26|  Male|
| Roti,Pedda| 11|Female|
|  Billa,Pow| 35|  Male|
|  Kiddy,Bid| 21|  Male|
|Vaddi,Naddi| 16|Female|
+-----------+---+------+

In [ ]:
df_o = df5.join(df6,on = ['Name','Age'],how = 'Outer')
df_o.show()

+-----------------+---+------+
|             Name|Age|Gender|
+-----------------+---+------+
|      Akhil,Peddi| 31|  null|
|        Billa,Pow| 35|  Male|
|         Demo,Raj| 21|  null|
|        Kiddy,Bid| 21|  Male|
|      Nibba,Nibbi| 16|  null|
|Nikhil,Pidiparthy| 26|  null|
|       Roti,Pedda| 11|Female|
|         Sony,Bil| 35|  null|
|      Tamar,Reddy| 26|  Male|
|      Vaddi,Naddi| 16|Female|
+-----------------+---+------+

### Final Way
For more columns

In [31]:
df7 = spark.read.csv('DataSets/file1.csv',header=True,sep='|')
print(df7.columns)

df8 = spark.read.csv('DataSets/file2.csv',header=True,sep='|')
print(df8.columns)

['Name', 'Age']
['Name', 'Age', 'Gender']

In [33]:
list_1 = set(df7.columns) - set(df8.columns)
list_2 = set(df8.columns) - set(df7.columns)

In [34]:
print(list_1)
print(list_2)

set()
{'Gender'}

In [35]:
for each in list_1:
    df8 = df8.withColumn(each,lit(None))
df8.show()

+-----------+---+------+
|       Name|Age|Gender|
+-----------+---+------+
|Tamar,Reddy| 26|  Male|
| Roti,Pedda| 11|Female|
|  Billa,Pow| 35|  Male|
|  Kiddy,Bid| 21|  Male|
|Vaddi,Naddi| 16|Female|
+-----------+---+------+

In [36]:
for each in list_2:
    df7 = df7.withColumn(each,lit(None))
df7.show()

+-----------------+---+------+
|             Name|Age|Gender|
+-----------------+---+------+
|Nikhil,Pidiparthy| 26|  null|
|      Akhil,Peddi| 31|  null|
|         Sony,Bil| 35|  null|
|         Demo,Raj| 21|  null|
|      Nibba,Nibbi| 16|  null|
+-----------------+---+------+

In [37]:
Fdf = df7.union(df8)
Fdf.show()

+-----------------+---+------+
|             Name|Age|Gender|
+-----------------+---+------+
|Nikhil,Pidiparthy| 26|  null|
|      Akhil,Peddi| 31|  null|
|         Sony,Bil| 35|  null|
|         Demo,Raj| 21|  null|
|      Nibba,Nibbi| 16|  null|
|      Tamar,Reddy| 26|  Male|
|       Roti,Pedda| 11|Female|
|        Billa,Pow| 35|  Male|
|        Kiddy,Bid| 21|  Male|
|      Vaddi,Naddi| 16|Female|
+-----------------+---+------+